@mixin absCenter {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//A mixin lets you make groups of CSS declarations that you want to reuse throughout your site.w